# --- Gradle
.gradle/
build/

# ---- Orchestrator
its/ruling/target/
its/plugin/target/

# ---- SonarQube analysis
.scannerwork/
.sonar/

# ---- IntelliJ IDEA
*.iws
*.iml
*.ipr
.idea/
out/
bin/

# ---- Eclipse
.classpath
.project
.settings

# ---- Mac OS X
.DS_Store
Icon?
# Thumbnails
._*
# Files that might appear on external disk
.Spotlight-V100
.Trashes

# ---- Windows
# Windows image file caches
Thumbs.db
# Folder config file
Desktop.ini

.java-version
