excludes=**/buildSrc/** **/its/** **/kotlin-checks-test-sources/** **/utils-kotlin/** **/*javadoc.jar
fileSystemScan=False
resolveAllDependencies=False

gradle.aggregateModules=True
gradle.preferredEnvironment=wrapper
gradle.resolveDependencies=True
gradle.excludeModules=buildSrc its its-plugin its-ruling kotlin-checks-test-sources utils-kotlin

wss.url=https://saas-eu.whitesourcesoftware.com/agent

forceUpdate=true
checkPolicies=true
forceUpdate.failBuildOnPolicyViolation=true
