excludes=**/its/sources/** **/kotlin-checks-test-sources/** **/utils-kotlin/** **/*javadoc.jar
fileSystemScan=False
resolveAllDependencies=False

gradle.aggregateModules=True
gradle.preferredEnvironment=wrapper
gradle.resolveDependencies=True

maven.aggregateModules=False
maven.downloadMissingDependencies=False
maven.ignoredScopes=None
maven.m2RepositoryPath=.m2/repository
maven.resolveDependencies=False
maven.runPreStep=False

wss.url=https://saas-eu.whitesourcesoftware.com/agent

forceUpdate=true
checkPolicies=true
forceUpdate.failBuildOnPolicyViolation=true
