name: PR

on:
  push:

jobs:
  job:
    runs-on: github-ubuntu-latest-s
    permissions:
      contents: write
      pull-requests: write
    steps:
      - run: |
          gh --version
      - run: |
          gh api \
            --method POST \
              -H "Accept: application/vnd.github+json" \
              -H "X-GitHub-Api-Version: 2022-11-28" \
              /repos/SonarSource/sonar-kotlin/pulls \
              -f 'title=SONARKT-683' \
              -f 'body=' \
              -f 'head=godin/fix-pr-cache' \
              -f 'base=master'
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
